apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- github.com/codefresh-io/cli-v2/manifests/argo-workflows?ref=v0.0.72

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: argo-server
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --auth-mode=server
      - op: add
        path: /spec/template/spec/containers/0/env
        value:
          - name: ARGO_BASE_HREF
            value: /argo/
